.transactions-container{
    width: 100%;
    /* border: 2px solid red; */
    min-height: 25vh;
}

.trans-heading-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 99%;
    /* border: 2px solid green; */
    margin: 5px;
    height: 20px;
}

.transaction-list{
    list-style-type: none;
    padding: 0px;
    /* border: 2px solid black; */
    margin: 5px;
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.each-trans{
    height: 45px;
    border: 2px solid gray;
    width: 99%;
}